<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="redirectForm" method="post" action="https://www.cashfree.com/checkout/post/submit">
        <input type="text" name="appId" value="104544c31bfc16b6c043727605445401"/>
        <input type="text" name="orderId" value="order00001"/>
        <input type="text" name="orderAmount" value="100"/>
        <input type="text" name="orderCurrency" value="INR"/>
        <input type="text" name="orderNote" value="test"/>
        <input type="text" name="customerName" value="John Doe"/>
        <input type="text" name="customerEmail" value="Johndoe@test.com"/>
        <input type="text" name="customerPhone" value="9999999999"/>
        <input type="text" name="returnUrl" value="http://www.kh10nonvegworld.com"/>
        <input type="text" name="notifyUrl" value="ttp://www.kh10nonvegworld.com"/>
        <input type="text" name="signature" value="e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"/>
            <button>Sumbmit</button>
      </form>
</body>
</html>