<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NAMMA RAITH AGRO | Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vegefoods-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/animate.css">
    
    <link rel="stylesheet" href="/vegefoods-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/magnific-popup.css">

    <link rel="stylesheet" href="/vegefoods-master/css/aos.css">

    <link rel="stylesheet" href="/vegefoods-master/css/ionicons.min.css">

    <link rel="stylesheet" href="/vegefoods-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/vegefoods-master/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/vegefoods-master/css/flaticon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/icomoon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/style.css">
  </head>
  <body class="goto-here">
		<div class="py-1 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-3 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">1800 102 3346</span>
					    </div>
					    <div class="col-md pr-3 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">info@nammaraithagro.in</span>
					    </div>
					    <div class="col-md pr-3 d-flex topper align-items-center text-lg-right">
						    <span class="text">Same Day Delivery </span>
					    </div>


						<div class="col-md pr-3 d-flex topper align-items-center text-lg-right">
						    <span class="text" style="font-weight: bold;color:#1f5ab0" data-toggle="modal" data-target="#exampleModalLong">For Franchise</span>
							<!-- <button type="button" class="btn btn-primary" >
								Launch demo modal
							  </button> -->
					    </div>

						
				    </div>
			    </div>
		    </div>
		  </div>
    </div>


	<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLongTitle">For Franchise</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				Franchising today is one of the most common business models which has been adopted by some of the most well-known brands. who is interested in becoming a franchisee can contact <a href='tel:9611012333'><span style="color:#1f5ab0">96110 12333</span></a>
				If your profile is found suitable and after successful completion of due diligence process you will be required to attend a meeting with our Senior Management. We will enter into agreement and starts the business.
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	  </div>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/" style="font-size: 12px;"><img src="/images/namanfinalgreen.png" style="width: 110px;"></img>NAMMA RAITH AGRO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
              	<a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li> -->
	          <li class="nav-item"><a href="#product" class="nav-link">Our Products</a></li>
	          <li class="nav-item"><a href="#testimonials" class="nav-link">Testimonials</a></li>
	          <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
	          <!-- <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li> -->

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->

    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url(/vegefoods-master/images/bg_1.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
	              <h1 class="mb-2">We serve Fresh Vegestables &amp; Fruits</h1>
	              <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
	              <!-- <p><a href="#" class="btn btn-primary">View Details</a></p> -->
	            </div>

	          </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image: url(/vegefoods-master/images/bg_2.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-sm-12 ftco-animate text-center">
	              <h1 class="mb-2">100% Fresh &amp; Organic Foods</h1>
	              <h2 class="subheading mb-4">We deliver organic vegetables &amp; fruits</h2>
	              <!-- <p><a href="#" class="btn btn-primary">View Details</a></p> -->
	            </div>

	          </div>
	        </div>
	      </div>
	    </div>
    </section>

    <section class="ftco-section bg-light">
			<div class="container">
				<div class="row no-gutters ftco-services">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over Rs. 100</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-diet"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Always Fresh</h3>
                <span>Product well package</span>
              </div>
            </div>    
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(/vegefoods-master/images/category.jpg);">
									<div class="text text-center">
										<h2>Vegetables</h2>
										<p>Protect the health of every home</p>
										<!-- <p><a href="#" class="btn btn-primary">Shop now</a></p> -->
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/vegefoods-master/images/category-1.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="#">Fruits</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/vegefoods-master/images/category-2.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="#">Vegetables</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/vegefoods-master/images/category-3.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Juices</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/vegefoods-master/images/category-4.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="#">Dried</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section" id="product">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Featured Products</span>
            <h2 class="mb-4">Our Products</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
          </div>
        </div>   		
    	</div>
    	<div class="container">
    		<div class="row">


       

    			<div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://images.squarespace-cdn.com/content/v1/5b35b18af93fd4d75e591f4a/1543985895500-98LX8K027J1RWKQWFGAH/ke17ZwdGBToddI8pDm48kCDnvzZDSTqrZYB0qToMReZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0psyQQR5KrxgIm8QcotvsYtvUHnJsni5ivcu2RP0UO8zWN1uCXtq4fHLhtl5lYmmpQ/HS-Website---Vegetable-Products.jpg?format=2500w" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Vegetables</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>



          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="/vegefoods-master/images/category-1.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Fruits</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>




          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://enjoyrussian.com/wp-content/uploads/2017/10/Milk-products.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Milk Products
                  
                </a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>














          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://previews.123rf.com/images/roxanabalint/roxanabalint1610/roxanabalint161000189/64066730-ready-to-cook-sticker-on-white-background-vector-illustration.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Ready To Cook</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>






          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://www.kaisersfoodcenter.com/media/site_assets/750624dc37c2e63f8b0b793b204f5cfd/assets/ban2.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Groceries</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>




          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="/vegefoods-master/images/category.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Beverages</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>










          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2020/02/non-veg-1582217034.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Non Vegeterian</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>






          <div class="col-md-3 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="#contact" class="img-prod"><img class="img-fluid" src="https://media-cdn.tripadvisor.com/media/photo-s/18/3a/09/6c/bonefish-seafood-platter.jpg" alt="Colorlib Template" style="height:180px;width:100%">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">Seafood</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						
		    					</div>
	    					</div>
	    				    					</div>
    				</div>
    			</div>



    		</div>
    	</div>
    </section>
		
		<section class="ftco-section img" style="background-image: url(/vegefoods-master/images/bg_3.jpg);">
    	<div class="container">
				<div class="row justify-content-end">
          <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          	<span class="subheading">Best Price For You</span>
            <h2 class="mb-4">Deal of the day</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p> -->
            <h3><a href="#">Spinach</a></h3>
            <span class="price">$10 <a href="#">now $5 only</a></span>
            <div id="timer" class="d-flex mt-5">
						  <div class="time" id="days"></div>
						  <div class="time pl-3" id="hours"></div>
						  <div class="time pl-3" id="minutes"></div>
						  <div class="time pl-3" id="seconds"></div>
						</div>
          </div>
        </div>   		
    	</div>
    </section>

    <section class="ftco-section testimony-section" id="testimonials">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4">Our satisfied customer says</h2>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p> -->
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/vegefoods-master/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">We have purchased groceries from Namma Raith Agro. The quality complaints are rare and even if there is a complaint the products are replaced without any follow up</p>
                    <p class="name">Krishna Kumar</p>
                    <!-- <span class="position">Marketing Manager</span> -->
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/vegefoods-master/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">Namma Raith Agro Essentials is a proactive company and the quality of their products is very consistent
                    </p>
                    <p class="name">Chef Anthony</p>
                    <!-- <span class="position">Interface Designer</span> -->
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/vegefoods-master/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">Good, fresh and affordable vegetables and fruits. 5 star ratings</p>
                    <p class="name">Yogesh Singh</p>
                    <!-- <span class="position">UI Designer</span> -->
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>

		

		<!-- <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Download Our App</h2>
          	<span>Get Link via sms to download our app.</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter Mobile Number">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->
  
    <footer class="ftco-footer ftco-section bg-light" id="contact">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Namma Raith Agro is one of the very few online apps dedicated to delivering Fresh and Organic Vegetables and Fruits to your doorstep.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Download Our App</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block"><img src="https://images.squarespace-cdn.com/content/v1/550f5923e4b00ccc1da1246b/1559083274863-54YV1MQUC4L1LJFWCUNF/ke17ZwdGBToddI8pDm48kOWjjJ5fqiOcRfqa8e2ltc4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsqgpe7HqRQBmOHC4l5fU3W7SBic8YWkSEcm981elChfCjLISwBs8eEdxAxTptZAUg/Playstore.png" style="width:120px;"/></a></li>
                <li><a href="#" class="py-2 d-block"><img src="https://static.wixstatic.com/media/7127d0_1ce87c9fc5c44a39add5730229b48794~mv2.png/v1/fill/w_561,h_188,al_c,q_85,usm_0.66_1.00_0.01/app%20store%20download.webp" style="width:120px;"/></a></li>
              
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <!-- <li><a href="#" class="py-2 d-block">Shipping Information</a></li> -->
	                <li><a href="/refund-policy" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="/terms-and-conditions" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="/privacy-policy" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <!-- <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul> -->
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">No 58 and 19 second floor DJcomplex Doddabullapur main road Singanakanahalli opp Godrej apartments Bangalore 560064</span></li>
	                <li style="margin-top: 10%;"><a href="#"><span class="icon icon-phone"></span><span class="text">1800 102 3346</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@nammaraithagro.in</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="/" target="_blank">NAMMA RAITH AGRO</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/vegefoods-master/js/jquery.min.js"></script>
  <script src="/vegefoods-master/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/vegefoods-master/js/popper.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap.min.js"></script>
  <script src="/vegefoods-master/js/jquery.easing.1.3.js"></script>
  <script src="/vegefoods-master/js/jquery.waypoints.min.js"></script>
  <script src="/vegefoods-master/js/jquery.stellar.min.js"></script>
  <script src="/vegefoods-master/js/owl.carousel.min.js"></script>
  <script src="/vegefoods-master/js/jquery.magnific-popup.min.js"></script>
  <script src="/vegefoods-master/js/aos.js"></script>
  <script src="/vegefoods-master/js/jquery.animateNumber.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap-datepicker.js"></script>
  <script src="/vegefoods-master/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/vegefoods-master/js/google-map.js"></script>
  <script src="/vegefoods-master/js/main.js"></script>
    
  </body>
</html>