<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NAMMA RAITH AGRO | Privacy Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vegefoods-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/animate.css">
    
    <link rel="stylesheet" href="/vegefoods-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/magnific-popup.css">

    <link rel="stylesheet" href="/vegefoods-master/css/aos.css">

    <link rel="stylesheet" href="/vegefoods-master/css/ionicons.min.css">

    <link rel="stylesheet" href="/vegefoods-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/vegefoods-master/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/vegefoods-master/css/flaticon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/icomoon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/style.css">
  </head>
  <body class="goto-here">
		<div class="py-1 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">1800 102 3346</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">info@nammaraithagro.in</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">Same Day Delivery </span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">NAMMA RAITH AGRO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
              	<a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li> -->
	          <li class="nav-item"><a href="/#product" class="nav-link">Our Products</a></li>
	          <li class="nav-item"><a href="/#testimonials" class="nav-link">Testimonials</a></li>
	          <li class="nav-item"><a href="/#contact" class="nav-link">Contact</a></li>
	          <!-- <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li> -->

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
 
	
 
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt" id="about">
			<div class="container">
				<div class="row no-gutters">
				
					<div class="col-sm-12 wrap-about py-5 ftco-animate" style="margin-top: 50px;">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">Privacy Policy</span>
		            <h3 class="mb-4">Welcome to  Namma Raith Agro</h3>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>At kh10nonvegworld.com, accessible from kh10nonvegworld.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by kh10nonvegworld.com and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in kh10nonvegworld.com. This policy is not applicable to any information collected offline or via channels other than this website.</p>

<h3>Consent</h3>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h3>Information we collect</h3>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h3>How we use your information</h3>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our webste</li>
<li>Improve, personalize, and expand our webste</li>
<li>Understand and analyze how you use our webste</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h3>Log Files</h3>

<p>kh10nonvegworld.com follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h3>Cookies and Web Beacons</h3>

<p>Like any other website, kh10nonvegworld.com uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>For more general information on cookies.</p>



<h3>Advertising Partners Privacy Policies</h3>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of kh10nonvegworld.com.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on kh10nonvegworld.com, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that kh10nonvegworld.com has no access to or control over these cookies that are used by third-party advertisers.</p>

<h3>Third Party Privacy Policies</h3>

<p>kh10nonvegworld.com's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h3>CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h3>GDPR Data Protection Rights</h3>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h3>Children's Information</h3>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>kh10nonvegworld.com does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>

						</div>
					</div>
				</div>
			</div>
		</section>

		

	

    <footer class="ftco-footer ftco-section bg-light" id="contact">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Namma Raith Agro is one of the very few online apps dedicated to delivering Fresh and Organic Vegetables and Fruits to your doorstep.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Download Our App</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block"><img src="https://images.squarespace-cdn.com/content/v1/550f5923e4b00ccc1da1246b/1559083274863-54YV1MQUC4L1LJFWCUNF/ke17ZwdGBToddI8pDm48kOWjjJ5fqiOcRfqa8e2ltc4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsqgpe7HqRQBmOHC4l5fU3W7SBic8YWkSEcm981elChfCjLISwBs8eEdxAxTptZAUg/Playstore.png" style="width:120px;"/></a></li>
                <li><a href="#" class="py-2 d-block"><img src="https://static.wixstatic.com/media/7127d0_1ce87c9fc5c44a39add5730229b48794~mv2.png/v1/fill/w_561,h_188,al_c,q_85,usm_0.66_1.00_0.01/app%20store%20download.webp" style="width:120px;"/></a></li>
              
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <!-- <li><a href="#" class="py-2 d-block">Shipping Information</a></li> -->
	                <li><a href="/refund-policy" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="/terms-and-conditions" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="/privacy-policy" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <!-- <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul> -->
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">No 58 and 19 second floor DJcomplex Doddabullapur main road Singanakanahalli opp Godrej apartments Bangalore 560064</span></li>
	                <li style="margin-top: 10%;"><a href="#"><span class="icon icon-phone"></span><span class="text">1800 102 3346</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@nammaraithagro.in</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="/" target="_blank">NAMMA RAITH AGRO</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/vegefoods-master/js/jquery.min.js"></script>
  <script src="/vegefoods-master/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/vegefoods-master/js/popper.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap.min.js"></script>
  <script src="/vegefoods-master/js/jquery.easing.1.3.js"></script>
  <script src="/vegefoods-master/js/jquery.waypoints.min.js"></script>
  <script src="/vegefoods-master/js/jquery.stellar.min.js"></script>
  <script src="/vegefoods-master/js/owl.carousel.min.js"></script>
  <script src="/vegefoods-master/js/jquery.magnific-popup.min.js"></script>
  <script src="/vegefoods-master/js/aos.js"></script>
  <script src="/vegefoods-master/js/jquery.animateNumber.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap-datepicker.js"></script>
  <script src="/vegefoods-master/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/vegefoods-master/js/google-map.js"></script>
  <script src="/vegefoods-master/js/main.js"></script>
    
  </body>
</html>