<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NAMMA RAITH AGRO | Refund Policy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="/images/logo.jpg">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/vegefoods-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/animate.css">
    
    <link rel="stylesheet" href="/vegefoods-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vegefoods-master/css/magnific-popup.css">

    <link rel="stylesheet" href="/vegefoods-master/css/aos.css">

    <link rel="stylesheet" href="/vegefoods-master/css/ionicons.min.css">

    <link rel="stylesheet" href="/vegefoods-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/vegefoods-master/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/vegefoods-master/css/flaticon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/icomoon.css">
    <link rel="stylesheet" href="/vegefoods-master/css/style.css">
  </head>
  <body class="goto-here">
		<div class="py-1 bg-primary">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">1800 102 3346</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">info@nammaraithagro.in</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">Same Day Delivery </span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">NAMMA RAITH AGRO</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="shop.html">Shop</a>
              	<a class="dropdown-item" href="wishlist.html">Wishlist</a>
                <a class="dropdown-item" href="product-single.html">Single Product</a>
                <a class="dropdown-item" href="cart.html">Cart</a>
                <a class="dropdown-item" href="checkout.html">Checkout</a>
              </div>
            </li> -->
	          <li class="nav-item"><a href="/#product" class="nav-link">Our Products</a></li>
	          <li class="nav-item"><a href="/#testimonials" class="nav-link">Testimonials</a></li>
	          <li class="nav-item"><a href="/#contact" class="nav-link">Contact</a></li>
	          <!-- <li class="nav-item cta cta-colored"><a href="cart.html" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li> -->

	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
 
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt" id="about">
			<div class="container">
				<div class="row no-gutters">
				
					<div class="col-sm-12 wrap-about py-5 ftco-animate" style="margin-top: 50px;">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">Refund Policy</span>
		            <h2 class="mb-4">Welcome to  Namma Raith Agro</h2>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
                <p>Last updated: April 5, 2021</p>
                <p>Thank you for shopping at Namma Raith Agro.</p>
                <p>If, for any reason, You are not completely satisfied with a purchase We invite You to review our policy on refunds and returns.</p>
                <p>The following terms are applicable for any products that You purchased with Us.</p>
                <h3>Interpretation and Definitions</h3>
                <h4>Interpretation</h4>
                <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
                <h4>Definitions</h4>
                <p>For the purposes of this Return and Refund Policy:</p>
                <ul>
                <li>
                <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to KH10 Non Veg Private Limited, 5 &amp;&amp; 18 2nd Floor Singanayakanahalli Opp Godrej Avenue Apartment Yelahanka Banglore , Karnataka .</p>
                </li>
                <li>
                <p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
                </li>
                <li>
                <p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
                </li>
                <li>
                <p><strong>Service</strong> refers to the Website.</p>
                </li>
                <li>
                <p><strong>Website</strong> refers to Namma Raith Agro, accessible from <a href="/" rel="external nofollow noopener" target="_blank">Namma Raith Agro</a></p>
                </li>
                <li>
                <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
                </li>
                </ul>
                <h3>Your Order Cancellation Rights</h3>
                <p>You are entitled to cancel Your Order within 14 days without giving any reason for doing so.</p>
                <p>The deadline for cancelling an Order is 14 days from the date on which You received the Goods or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.</p>
                <p>In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by:</p>
                <ul>
                <li>By email: kh10nonvegworld.com</li>
                </ul>
                <p>We will reimburse You no later than 14 days from the day on which We receive the returned Goods. We will use the same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.</p>
                <h3>Conditions for Returns</h3>
                <p>In order for the Goods to be eligible for a return, please make sure that:</p>
                <ul>
                <li>The Goods were purchased in the last 14 days</li>
                <li>The Goods are in the original packaging</li>
                </ul>
                <p>The following Goods cannot be returned:</p>
                <ul>
                <li>The supply of Goods made to Your specifications or clearly personalized.</li>
                <li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate rapidly or where the date of expiry is over.</li>
                <li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.</li>
                <li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with other items.</li>
                </ul>
                <p>We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.</p>
                <p>Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot be refunded. This exclusion may not apply to You if it is not permitted by applicable law.</p>
                <h3>Returning Goods</h3>
                <p>You are responsible for the cost and risk of returning the Goods to Us. You should send the Goods at the following address:</p>
                <p>Delivery Boy</p>
                <p>We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, We recommend an insured and trackable mail service. We are unable to issue a refund without actual receipt of the Goods or proof of received return delivery.</p>
                <h3>Gifts</h3>
                <p>If the Goods were marked as a gift when purchased and then shipped directly to you, You'll receive a gift credit for the value of your return. Once the returned product is received, a gift certificate will be mailed to You.</p>
                <p>If the Goods weren't marked as a gift when purchased, or the gift giver had the Order shipped to themselves to give it to You later, We will send the refund to the gift giver.</p>
                <h3>Contact Us</h3>
                <p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		

	

		

    <footer class="ftco-footer ftco-section bg-light" id="contact">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Namma Raith Agro is one of the very few online apps dedicated to delivering Fresh and Organic Vegetables and Fruits to your doorstep.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Download Our App</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block"><img src="https://images.squarespace-cdn.com/content/v1/550f5923e4b00ccc1da1246b/1559083274863-54YV1MQUC4L1LJFWCUNF/ke17ZwdGBToddI8pDm48kOWjjJ5fqiOcRfqa8e2ltc4UqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYy7Mythp_T-mtop-vrsUOmeInPi9iDjx9w8K4ZfjXt2dsqgpe7HqRQBmOHC4l5fU3W7SBic8YWkSEcm981elChfCjLISwBs8eEdxAxTptZAUg/Playstore.png" style="width:120px;"/></a></li>
                <li><a href="#" class="py-2 d-block"><img src="https://static.wixstatic.com/media/7127d0_1ce87c9fc5c44a39add5730229b48794~mv2.png/v1/fill/w_561,h_188,al_c,q_85,usm_0.66_1.00_0.01/app%20store%20download.webp" style="width:120px;"/></a></li>
              
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <!-- <li><a href="#" class="py-2 d-block">Shipping Information</a></li> -->
	                <li><a href="/refund-policy" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="/terms-and-conditions" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="/privacy-policy" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <!-- <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul> -->
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">No 58 and 19 second floor DJcomplex Doddabullapur main road Singanakanahalli opp Godrej apartments Bangalore 560064</span></li>
	                <li style="margin-top: 10%;"><a href="#"><span class="icon icon-phone"></span><span class="text">1800 102 3346</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@nammaraithagro.in</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="/" target="_blank">NAMMA RAITH AGRO</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="/vegefoods-master/js/jquery.min.js"></script>
  <script src="/vegefoods-master/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/vegefoods-master/js/popper.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap.min.js"></script>
  <script src="/vegefoods-master/js/jquery.easing.1.3.js"></script>
  <script src="/vegefoods-master/js/jquery.waypoints.min.js"></script>
  <script src="/vegefoods-master/js/jquery.stellar.min.js"></script>
  <script src="/vegefoods-master/js/owl.carousel.min.js"></script>
  <script src="/vegefoods-master/js/jquery.magnific-popup.min.js"></script>
  <script src="/vegefoods-master/js/aos.js"></script>
  <script src="/vegefoods-master/js/jquery.animateNumber.min.js"></script>
  <script src="/vegefoods-master/js/bootstrap-datepicker.js"></script>
  <script src="/vegefoods-master/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="/vegefoods-master/js/google-map.js"></script>
  <script src="/vegefoods-master/js/main.js"></script>
    
  </body>
</html>