
<%- include ('./header.ejs') %>
<div class="layout-content">

<div class="container-fluid flex-grow-1 container-p-y">
<h4 class="font-weight-bold py-3 mb-0">Our Users</h4>
<div class="text-muted small mt-0 mb-4 d-block breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
<li class="breadcrumb-item active">Users</li>
</ol>
</div>






<div class="card mb-4" id='result'></div>










<!-- 
<nav class="layout-footer footer footer-light">
<div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
<div class="pt-3">
<span class="float-md-right d-none d-lg-block">&copy; Exclusive on Themeforest | Hand-crafted &amp; Made with <i class="fas fa-heart text-danger mr-2"></i></span>
</div>
<div>
<a href="javascript:" class="footer-link pt-3">About Us</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
<a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
</div>
</div>
</nav> -->

</div>

</div>

</div>

<div class="layout-overlay layout-sidenav-toggle"></div>
</div>


<script src="/assets/js/pace.js"></script>
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<script src="/assets/libs/popper/popper.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/sidenav.js"></script>
<script src="/assets/js/layout-helpers.js"></script>
<script src="/assets/js/material-ripple.js"></script>

<script src="/assets/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/js/demo.js"></script><script src="/assets/js/analytics.js"></script>




</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script src="/javascripts/users.js"></script>
<script>

  $('.uploadImage').submit(function (e) {
    e.preventDefault();

    // var title = $('#title').val(); 

    $(this).ajaxSubmit({
      // data: {title: title},
      contentType: 'application/json',
      success: function (response) {
        alert('successfully')
      }
    });
    return false;
  });



</script>


<!-- Mirrored from html.phoenixcoded.net/empire/bootstrap/default/forms_layouts.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 12 Jun 2020 17:36:43 GMT -->
</html>
